@import './variables';

*, *::before, *::after {
   box-sizing: border-box;
   font-size: 100%;
   margin: 0;
   padding: 0;
}

body {
   background-color: $background-color;
   background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
   background-position: right 50vw bottom 50vh, left 50vw top 50vh;
   background-repeat: no-repeat, no-repeat;
   color: $paragraph-color;
   display: grid;
   font-family: $regular-font-family;
   font-size: $regular-font-size;
   font-weight: $regular-font;
   min-height: 100vh;
   place-content: center;
}