// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$regular-font-family: 'Kumbh Sans', sans-serif;

$regular-font: 400;
$bold-font: 700;

$heading-font-size: 1.125rem;
$regular-font-size: 1rem;

// Colors
$background-color: rgb(25, 162, 174);
$card-background-color: hsl(0, 0%, 100%);
$heading-color: hsl(229, 23%, 23%);
$paragraph-color: hsl(227, 10%, 46%);
$border-color: hsl(0, 0%, 95%);
